body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 15%, rgba(72,72,213,1) 64%, rgba(63,53,245,1) 94%);
}
.login{
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 150px auto;
    border-radius: 30px;
}
h3{
position: relative;
top: 8px;
left: 100px;
display: inline-block;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    width: 70%;
    margin: 10px 40px;
    display: block;
    padding: 15px;
   border: none;
    border-bottom: 2px solid rgb(97, 97, 218);
    line-height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:focus{
    outline: none;
    border-bottom: 3px solid rgb(33, 33, 216);
}
#login{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 15%, rgba(14,14,232,1) 56%, rgba(28,16,239,1) 94%);    width: 77%;
    height: 45px;
padding: 0px;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 35px;
font-weight: bolder;
text-shadow : 0 0px #000 !important;


}
#login:hover{
    cursor: pointer;
    background: rgb(118, 196, 16);
    background: linear-gradient(90deg, rgba(28,16,239,1) 7%, rgba(14,14,232,1) 32%, rgba(0,212,255,1) 65%);
       
}
/* input[type="button"]:hover{
cursor: pointer;
background: rgb(118, 196, 16);
background: linear-gradient(90deg, rgba(28,16,239,1) 7%, rgba(14,14,232,1) 32%, rgba(0,212,255,1) 65%);
border: 5px solid black;
} */
a{
    display: block;
    margin: 15px 135px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}